/* === GLOBAL APP FONT */
* {
    font-family: "Inter";
}

/* === URL BAR === */
#identity-box {
	display: none !important;
}
.urlbar-input-container {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

#urlbar[open] .urlbar-input-container {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
#tracking-protection-icon-container {
	display: none !important;
}
#page-action-buttons {
	display: none !important;
}
html#main-window body hbox#zen-main-app-wrapper hbox#browser toolbox#navigator-toolbox.browser-toolbox-background toolbar#nav-bar.browser-toolbar.chromeclass-location hbox#nav-bar-customization-target.customization-target toolbaritem#urlbar-container div#urlbar hbox.urlbar-input-container moz-input-box.urlbar-input-box {
    font-family: "JetBrains Mono", monospace !important;
}
#urlbar-input {
	  font-family: "JetBrains Mono", monospace !important;
}
#urlbar-input[aria-expanded="true"] {
	  font-size: 1.4rem !important;
}
#urlbar:not([open]) #urlbar-background {
    background-color: #00000000 !important;
}
#urlbar-container {
	background-color: #00000000 !important;
}

/* === TAB BAR === */
arrowscrollbox#tabbrowser-arrowscrollbox tab.tabbrowser-tab[selected], div#vertical-pinned-tabs-container tab.tabbrowser-tab[selected] {
    /* background-color: #FFFFFF !important; */
    /* opacity: 5%; */
    /* border: 2px solid rgba(255, 255, 255, 0.2) !important; */
    
    border-top: 1px solid #6f6e74 !important;
    box-shadow: 0px 8px 8px -6px rgba(0,0,0,0.7);
    z-index: 100 !important;
}
arrowscrollbox#tabbrowser-arrowscrollbox tab.tabbrowser-tab, div#vertical-pinned-tabs-container tab.tabbrowser-tab {
    margin-bottom: 4px !important;
}
div#vertical-pinned-tabs-container tab.tabbrowser-tab:last-child {
    margin-bottom: 0 !important;
} 
hbox#tabbrowser-arrowscrollbox-periphery {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}
arrowscrollbox#tabbrowser-arrowscrollbox tab.tabbrowser-tab .tab-stack .tab-background, div#vertical-pinned-tabs-container tab.tabbrowser-tab stack.tab-stack .tab-background {
    margin: 0 !important;
}
image.tab-icon-overlay {
    background-color: #000000 !important;
}
html#main-window body hbox#zen-main-app-wrapper hbox#browser toolbox#navigator-toolbox.browser-toolbox-background hbox#titlebar toolbar#TabsToolbar.browser-toolbar.browser-titlebar hbox.toolbar-items hbox#TabsToolbar-customization-target.customization-target tabs#tabbrowser-tabs div#vertical-pinned-tabs-container {
    overflow: visible !important;
}

/* === ESSENTIALS BAR === */
#zen-essentials-container .tabbrowser-tab .tab-stack .tab-background {
    /* opacity: 0; */
}

/* === WORKSPACE === */
html#main-window body hbox#zen-main-app-wrapper hbox#browser toolbox#navigator-toolbox.browser-toolbox-background hbox#titlebar toolbar#TabsToolbar.browser-toolbar.browser-titlebar toolbar#zen-sidebar-icons-wrapper.browser-toolbar.customization-target.zen-dont-hide-on-fullscreen toolbarbutton#zen-workspaces-button.toolbarbutton-1.zen-sidebar-action-button hbox.zen-workspace-sidebar-wrapper div.zen-workspace-sidebar-icon {
    margin-right: 3px !important;
}
div.zen-workspace-sidebar-name {
    font-family: "JetBrains Mono", monospace !important;
}
html#main-window body hbox#zen-main-app-wrapper hbox#browser toolbox#navigator-toolbox.browser-toolbox-background hbox#titlebar toolbar#TabsToolbar.browser-toolbar.browser-titlebar hbox.toolbar-items hbox#TabsToolbar-customization-target.customization-target tabs#tabbrowser-tabs hbox#zen-current-workspace-indicator hbox#zen-current-workspace-indicator-name {
    font-family: "JetBrains Mono", monospace !important;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-top: 2px;
}

/* === FINDBAR === */
findbar {
	display: flex !important;
	border-radius: var(--zen-border-radius) !important;
	margin: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 4px !important;
    padding-left: 3px !important;
	width: 90% !important;
	max-width: 800px;
	height: auto !important;
	position: absolute !important;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	overflow: unset !important;
	box-shadow: var(--box-shadow-10);
	background: var(--zen-colors-tertiary) !important;
	border: 1px solid var(--zen-colors-border) !important;
	transition: top 0.35s ease, bottom 0.35s ease !important;
	visibility: visible !important;
	opacity: 1 !important;
	& .findbar-container {
		flex-wrap: wrap;
		overflow-x: auto !important;
		height: auto !important;
		row-gap: 10px;
		& > :first-child {
			width: 100% !important;
		}
		& .findbar-textbox {
			flex-grow: 1;
		}
	}
	&[hidden='true'] {
		top: -150px;
	}
	@starting-style {
		top: -150px;
	}
} /* Horizontal Position */
body:has(
		#theme-Better-Find-Bar[theme-better_find_bar-horizontal_position='left']
	) {
	findbar {
		left: 15px;
		transform: translateX(0%);
	}
}
body:has(
		#theme-Better-Find-Bar[theme-better_find_bar-horizontal_position='right']
	) {
	findbar {
		left: unset !important;
		right: 15px;
		transform: translateX(0%);
	}
} /* Background blur */
@media (-moz-bool-pref: 'theme.better_find_bar.transparent_background') {
	findbar,
	findbar .findbar-textbox:not([status='notfound']) {
		backdrop-filter: blur(15px);
		background: color-mix(
			in hsl,
			var(--zen-colors-tertiary),
			transparent 30%
		) !important;
	}
	findbar .findbar-textbox:not([status='notfound']) {
		background: color-mix(
			in hsl,
			var(--zen-colors-tertiary),
			transparent 10%
		) !important;
	}
}
/* X button */
.findbar-closebutton.tabbable.close-icon {
    height: 24px !important;
    width: 30px !important;
    margin-top: 0px !important;
    margin-right: 6px !important;
}

/* === LOADBAR === */
@media (-moz-bool-pref: 'zen.view.use-single-toolbar') {
	#zen-appcontent-wrapper {
		position: relative !important;
		background-color: transparent !important; /* The rest of the div remains transparent */
	}
	#zen-appcontent-wrapper::before {
		content: '' !important;
		position: absolute !important;
		top: 4px !important;
    z-index: 500 !important;
		left: 2px !important;
		height: 2px !important; /* Height of the top background */
		max-width: calc(100% - 16px) !important; /* Adjust for margins */
		width: var(
			--bar-pcent
		) !important; /* Ensure full width or customizable width */
		background-color: var(
			--bar-colour
		) !important; /* Solid color for the bar */
		border-radius: 4px; /* Adjust this value to control the roundness of the ends */
		pointer-events: none !important;
		transition: width 0.5s ease-in-out, background 0.2s ease-in !important; /* Apply smooth transition on width and background */
	} /* Current tab loading progress and muted status */
	#main-window {
		&:has(.tabbrowser-tab[selected][busy]) {
			--bar-colour: #537cf7;
			--bar-pcent: 15%;
		}
		&:has(.tabbrowser-tab[selected][busy][pendingicon]) {
			--bar-colour: #537cf7;
			--bar-pcent: 45%;
		}
		&:has(.tabbrowser-tab[selected][busy][pendingicon][progress]) {
			--bar-colour: #537cf7;
			--bar-pcent: 85%;
		}
		&:has(.tabbrowser-tab[selected][busy][progress]) {
			--bar-colour: #537cf7;
			--bar-pcent: 95%;
		}
		&:has(.tabbrowser-tab[selected][muted]:not([busy])) {
			--bar-colour: orangered;
			--bar-pcent: 100%;
		}
	}
}
